export NGROK_SUBDOMAIN="" # such as snake-<user>
export DATABASE_USERNAME="{username}"
export DATABASE_PASSWORD="{password}"
export DATABASE_HOST="{host}"
export DATABASE_PORT="{port}"
export DATABASE_NAME="{name}"
export SECRET_KEY_BASE="" # mix phx.gen.secret
export GUARDIAN_JWK_ENCODED_KEY="" # mix guardian.gen.secret

export HOST=${HOST:=localhost}
export PORT=${PORT:=4000}
